{% extends 'simple_todo/main_primary.html' %} {% load static %}
<!--Content Block-->
{%block content%}
<section id="one" class="wrapper spotlight style1">
    <div class="inner">
        <a href="/to_do/" class="image">
            <img
                src="/static/images/pic01.jpg"
                alt="Just a gradient used in development."
            />
        </a>

        <div class="content">
            <h2 class="major">To Do Application</h2>
            <p>NAVIGATE</p>
            <a href="/to_do/" class="special"> TO-DO </a>
        </div>
    </div>
</section>
{%endblock content%}
